.flexParent {
  background-color: rebeccapurple;
  padding: 20px;
  min-height: 30px;
  margin-bottom: 20px;
  gap: 20px;
  display: flex;
  /*   flex-direction: column; */
  /*   flex-direction: row-reverse; */
/*     flex-wrap: wrap; */
    justify-content: space-between;
  /*   align-items: center; */
}

/* Child Styling */
.flexChild {
  color: white;
  padding: 100px;
  background: indigo;
  /*   margin: 2px; */
  height: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   flex: 1; */
  flex-grow: ;
  flex-shrink: ;
  flex-basis: ;
  /*   flex: 0 1 300px; */
  /*   align-self: flex-end; */
}

.flexChild2 {
/*     order: -1; // Default is zero */
    flex-grow: 1;
  /*   flex-shrink: 3; */
  /*   flex-basis: 300px; */
  /*   align-self: flex-start; */
}

.body{
  
}

.bodyfirst {
  overflow: hidden;
  order: 0; 
  background-color: rebeccapurple;
  padding: 20px;
  min-height: 30px;
  margin-bottom: 20px;
  gap: 20px;
  display: flex;
  /*   flex-direction: column; */
  /*   flex-direction: row-reverse; */
/*     flex-wrap: wrap; */
    justify-content: space-between;
  /*   align-items: center; */
  justify-content: center;
  align-items: center;
 
}


